.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--dark-blue);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    transition: width 0.3s ease;
    width: 60px;
    /* overflow: hidden; */
    z-index: 2000;
  
  }
  

  /* Sidebar CSS when Expanded */
  .sidebar.open {
    width: 22.5%;
    justify-content: flex-start;
    padding-top: 50px;
    overflow-y: auto;
    overflow-x:auto ;
  }
  
  .sidebar .menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 50%;
  }
  
  .sidebar .menu-item .icon {
    margin-right: 10px;
  }
  
  .sidebar .menu-item .label {
    font-weight: 800;
    font-size: 1.3em;
    padding: 15px;
  }
  
  .sidebar.open .menu-item .label {
    display: inline;
  }
  
  .sidebar .checkout-btn {
    display: none;
  }
  
  .sidebar.open .checkout-btn {
    display: block;
  }
  
  .sidebar .checkout-btn {
    padding: 10px;
    background: white;
    color: var(--dark-blue);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin: auto;
  }

  .sidebar.open form input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    font-size: 18px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
  }
  
  .sidebar.open form input[type="checkbox"] {
    display: inline-block;
    margin: 10px 5px;
  }

  .sidebar.open form label[for="agree"] {
    display: inline-block;
    
  }

  .sidebar.open form button[type="submit"] {
    padding: 15px 10px;
    margin-top: 15px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    font-size: 1em;
    border-radius: 0;
    cursor: pointer;
    width: 50%;

  }

  :root {
    --dark-blue: #2c4047;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
  }

  .sidebar .cart-info .placeholder {
    margin-top: 10px;
    font-style: italic;
    color: #aaa;
  }


  /* Receipt CSS  */
  .receipt {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.receipt button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.receipt button:hover {
    background-color: #0056b3;
}

.receipt button:nth-child(2) {
    margin-left: 10px;
    border-color: #dc3545;
    background-color: #dc3545;
}

.receipt button:nth-child(2):hover {
    background-color: #c82333;
}


pre {
  /* background-color: #f8f9fa; */
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 0.5rem;
  max-width: 400px;
  word-wrap: break-word;
  white-space: pre-wrap;
  /* overflow-wrap: break-word; */
  font-size: 0.875rem;
  line-height: 1.5;
  
}

.exit-btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.exit-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}
